<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Redirect to front controller if the file does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
