{% extends 'base.html.twig' %}

{% block title %}Agregar Inmueble{% endblock %}

{% block body %}
<h1>Agregar nuevo inmueble</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn-primary">Guardar</button>
{{ form_end(form) }}

<a href="{{ path('proprietaire_dashboard') }}" class="btn btn-secondary">Volver al panel</a>
{% endblock %}
